h1{
    text-align: center;
    background-color: blueviolet;
    color: blue;
    padding-top: 20px;
    margin-left: 460px;
    margin-right: 210px;
    border: 2px black solid;
    border-radius: 50px;
    box-shadow: 20px black solid;
  }
  
  th{
    color: brown;
  }
  
  td{
    background-color: beige;
    color: rgb(0, 255, 64);
  }
  